/*FONTS*/

body {
  font-family: "Poppins-Regular";
  font-weight: 400;
}

.footer__item-title,
.plan .yes .plan__item-text,
.plan .yes .plan__availability-yes,
.plan__range-value,
.plan__choice-monthly.--active,
.plan__choice-quarterly.--active,
.source__info-btn,
.discover__info-text,
.software__info-link-ask,
.software__info-link-btn,
.main-page__text span,
.header__popup-btn,
.header__popup-title,
.header__signinup-text,
.header__login-text {
  font-family: "Poppins-Medium";
  font-weight: 500;
}

.plan__item-btn,
.plan__card-price,
.plan__card-title,
.plan__discount-inner,
.information__info-text span,
.software__info-text span,
.software__card-title,
.main-page__title,
.title {
  font-family: "Poppins-SemiBold";
  font-weight: 600;
}

/*COLOR*/

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: #021206;
  line-height: 29px;
  font-size: 18px;
}

.wrapper {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 67px;
}

/********* RESET ***********/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

p {
  font-weight: inherit;
  font-size: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  display: block;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "Poppins-Regular";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

.header {
  padding-top: 50px;
}

.header__overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-items {
  display: flex;
  gap: 40px;
}

.header__menu-item {
  text-transform: capitalize;
  opacity: 0.5;
  transition: all 0.3s;
}

.header__menu-item:hover {
  opacity: 1;
}

.header__form {
  display: flex;
}

.header__login-text {
  margin-right: 23px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.header__login-text:hover {
  opacity: 1;
}

.header__login-img,
.header__signinup-img {
  display: none;
  width: 35px;
  height: 35px;
}

.header__signinup-text {
  padding: 15px 30px;
  color: #fff;
  line-height: 27px;
  border-radius: 6px;
  background: #F44545;
  transition: color 0.3s;
}

.header__signinup-text:hover {
  color: #021206;
}

.header__popup {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 20;
}

.header__popup-label {
  font-size: 18px;
}

.header__popup-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #021206;
}

.header__popup-content {
  padding: 35px;
  max-width: 450px;
  position: relative;
  border: 2px solid rgba(2, 18, 6, 0.5);
  border-radius: 4px;
  background-color: #fff;
}

.header__popup-title {
  margin-bottom: 30px;
  font-size: 30px;
  opacity: 0.7;
}

.header__popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
}

.header__popup-name,
.header__popup-password {
  font-size: 15px;
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 2px solid rgba(2, 18, 6, 0.5);
}

.header__popup-checkbox {
  margin-bottom: 30px;
}

.header__popup-btn {
  padding: 15px;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  background: #F44545;
  transition: color 0.3s;
}

.header__popup-btn:hover {
  color: #021206;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

/***************************************************/

/***************************************************/

/***************************************************/

.main-page {
  padding-top: 123px;
  margin-bottom: 110px;
}

.main-page__inner {
  display: flex;
}

.main-page__info {
  max-width: 510px;
  padding-top: 47px;
}

.main-page__title {
  position: relative;
  margin-bottom: 25px;
  max-width: 487px;
  font-size: 54px;
  line-height: 81px;
}

.main-page__title span:nth-child(1) {
  color: rgb(24, 202, 144);
}

.main-page__title span:nth-child(2) {
  position: relative;
  bottom: 1px;
  font-size: 40px;
  color: rgb(78, 218, 172);
}

.main-page__title span:nth-child(3) {
  position: relative;
  bottom: 2px;
  left: 2px;
  font-size: 28px;
  color: rgb(78, 218, 172);
}

.main-page__text {
  margin-bottom: 30px;
  opacity: 0.7;
  max-width: 510px;
  font-size: 21px;
  line-height: 33px;
}

.main-page__form {
  position: relative;
  width: 472px;
  margin-bottom: 35px;
  width: 472px;
}

.main-page__mail {
  width: 100%;
  padding: 19px 24px;
  border-radius: 6px;
  box-shadow: 0px 0px 230px #021206;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 18px;
  opacity: 0.5;
  background-color: #fff;
}

.main-page__btn {
  position: absolute;
  padding: 11px 33px;
  top: 6px;
  right: 6px;
  color: #FFF;
  font-size: 21px;
  border-radius: 6px;
  background-color: #F44545;
  cursor: pointer;
  transition: all 0.3s;
}

.main-page__btn:hover {
  color: #021206;
}

.main-page__shop {
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
}

.main-page__anim {
  position: relative;
  margin: auto;
}

.main-page__yellow,
.main-page__mint,
.main-page__phone {
  max-width: 100%;
  position: absolute;
}

.main-page__yellow {
  top: -80px;
  left: 20px;
  top: -80px;
}

.main-page__mint {
  right: 0;
  bottom: -28px;
}

.main-page__yellow-circle {
  width: 296px;
  max-width: 296px;
}

.main-page__mint-circle {
  width: 241px;
  max-width: 241px;
}

.main-page__laptop-img {
  width: 873px;
  max-width: 873px;
}

.main-page__phone-img {
  width: 149px;
  max-width: 149px;
}

.main-page__laptop {
  margin-top: -20px;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translate(0px, -280px);
}

.main-page__laptop.--active {
  opacity: 1;
  transform: translate(0px, 0px);
}

.main-page__phone {
  z-index: 10;
  left: 75px;
  transition: all 0.5s ease 0.4s;
  transform: translateX(1000%);
  bottom: 50px;
  left: 75px;
}

.main-page__phone.--active {
  transform: translateX(0%);
}

/***************************************************/

/***************************************************/

/***************************************************/

.ticker {
  position: relative;
  overflow: hidden;
  background-color: rgba(142, 230, 201, 0.1);
  padding-top: 55px;
  padding-bottom: 55px;
}

.ticker__inner {
  display: flex;
  width: 150%;
  animation: ticker 11s linear infinite;
}

.ticker__company {
  white-space: nowrap;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.ticker__company-img {
  max-width: 100%;
}

@keyframes ticker {
  0% {
    transform: translateZ(100%);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/***************************************************/

/***************************************************/

/***************************************************/

.software {
  padding-top: 110px;
  margin-bottom: 110px;
}

.software__inner {
  display: flex;
  align-items: center;
  gap: 74px;
}

.software__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.software .card-one.--active {
  transition: all 0.7s ease 0.3s;
}

.software .card-two.--active {
  transition: all 0.7s ease 0.1s;
}

.software .card-three.--active {
  transition: all 0.7s ease 0.7s;
}

.software .card-four.--active {
  transition: all 0.7s ease 0.5s;
}

.software__card {
  transform: translateX(-500%);
}

.software__card.--active {
  transform: translateX(0%);
}

.software__card-body {
  height: 100%;
  max-width: 282px;
  border-radius: 10px;
  background: #FFF;
  cursor: pointer;
  outline: 1px solid rgba(2, 18, 6, 0.1);
  transition: all 0.3s ease;
}

.software__card-body:hover {
  outline: 1px solid #fff;
  box-shadow: 0px 15px 65px 0px rgba(65, 77, 68, 0.15);
}

.software__card-body:hover .software__card-title {
  color: #F44545;
}

.software__card-body:hover .software__card-img-forward {
  animation: img-forward 0.7s ease forwards;
}

.software__card-body:hover .software__card-img-back {
  animation: img-back 0.6s ease-in-out forwards;
}

.software__card-image {
  width: 135px;
  position: relative;
}

.software__card-img-forward {
  width: 35px;
  height: 35px;
  left: 47.5px;
  top: 45.5px;
  position: absolute;
  z-index: 10;
}

@keyframes img-forward {
  0% {
    transform: scale(100%);
  }

  50% {
    transform: scale(130%);
  }

  100% {
    transform: scale(100%);
  }
}

@keyframes img-back {
  0% {
    transform: scale(100%);
  }

  50% {
    transform: scale(85%);
  }

  100% {
    transform: scale(100%);
  }
}

.software__card-info {
  padding: 10px 24px 35px 35px;
}

.software__card-title {
  transition: all 0.3s ease;
  margin-bottom: 9px;
  opacity: 0.8;
  font-size: 21px;
}

.software__card-text {
  font-size: 16px;
  opacity: 0.7;
  line-height: 25px;
  font-size: 16px;
  line-height: 25px;
}

.software__info {
  max-width: 548px;
  padding: 15px;
}

.software__info-text {
  opacity: 0.7;
}

.software__info-text + .software__info-text {
  margin: 16px 0 29px 0;
}

.software__info-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.software__info-link-btn {
  color: #fff;
  padding: 15px 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 6px;
  line-height: 29px;
  background-color: #282323;
  transition: all 0.3s;
}

.software__info-link-btn:hover {
  color: #021206;
  background-color: #F44545;
}

.software__info-link-ask {
  color: #F44545;
  transition: all 0.3s;
}

.software__info-link-ask:hover {
  transform: scale(125%);
}

/***************************************************/

/***************************************************/

/***************************************************/

.discover {
  margin-bottom: 243px;
}

.discover__inner {
  display: flex;
  gap: 160px;
  justify-content: end;
  align-items: center;
}

.discover__info {
  max-width: 450px;
}

.discover__info-text {
  margin-bottom: 20px;
  opacity: 0.7;
}

.discover__info-list {
  opacity: 0.7;
}

.discover__info-item {
  padding-left: 31px;
  position: relative;
  transform-origin: 0 100%;
  transform: translateY(70%);
  opacity: 0;
  transition: all 0.2s linear 0.1s;
}

.discover__info-item:not(:last-child) {
  margin-bottom: 16px;
}

.discover__info-item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/discover/item-check.svg");
}

.discover__info-item.--active {
  transform: translateY(0%);
  opacity: 1;
}

.discover__info-item-one {
  transition: all 0.3s linear 0.1s;
}

.discover__info-item-two {
  transition: all 0.3s linear 0.3s;
}

.discover__info-item-three {
  transition: all 0.3s linear 0.5s;
}

.discover__info-item-four {
  transition: all 0.3s linear 0.7s;
}

.discover__anim {
  position: relative;
  min-height: 465px;
}

.discover__medium-image,
.discover__small-image,
.discover__mint-image {
  position: absolute;
}

.discover__image-large {
  padding: 37px 5px 10px;
}

.discover__large-image {
  box-shadow: 3px 6px 44px 0px rgba(204, 206, 204, 0.5);
  max-width: 503px;
  max-width: 503px;
}

.discover__medium-image {
  z-index: 3;
  box-shadow: 14px 40px 116px 0px rgba(0, 0, 0, 0.15);
  bottom: -109px;
  right: -72px;
  max-width: 259px;
  max-width: 259px;
}

.discover__small-image {
  z-index: 3;
  box-shadow: 14px 40px 116px 0px rgba(0, 0, 0, 0.15);
  bottom: -62px;
  left: -39px;
  width: 135px;
  width: 135px;
}

.discover__mint-image {
  max-width: 251px;
  max-width: 251px;
  top: -76px;
  left: -112px;
}

.discover__image-large {
  transform: translateY(-100%);
  opacity: 0;
  z-index: 2;
  position: relative;
}

.discover__image-large.--active {
  transform: translateY(0%);
  opacity: 1;
  transition: all 0.3s linear 1s;
}

.discover__image-medium {
  transform: translateX(120%);
  opacity: 0;
  z-index: 2;
  position: relative;
}

.discover__image-medium.--active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.3s linear 1.2s;
}

.discover__image-small {
  transform: translateX(-120%);
  opacity: 0;
  z-index: 2;
  position: relative;
}

.discover__image-small.--active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.3s linear 1.5s;
}

/***************************************************/

/***************************************************/

/***************************************************/

.information {
  margin-bottom: 170px;
}

.information__inner {
  display: flex;
  align-items: center;
  gap: 98px;
  gap: 98px;
}

.information__anim {
  position: relative;
}

.information__large-image,
.information__medium-image,
.information__small-image,
.information__yellow-circle-image {
  position: absolute;
}

.information__main-image {
  box-shadow: 3px 6px 44px 0px rgba(204, 206, 204, 0.5);
  max-width: 490px;
  max-width: 503px;
}

.information__large-image {
  box-shadow: 3px 6px 44px 0px rgba(204, 206, 204, 0.5);
  max-width: 201px;
  max-width: 201px;
  right: -58px;
  bottom: -21px;
}

.information__medium-image {
  box-shadow: 3px 6px 44px 0px rgba(204, 206, 204, 0.5);
  max-width: 309px;
  max-width: 309px;
  left: -43px;
  bottom: -67px;
}

.information__small-image {
  box-shadow: 3px 6px 44px 0px rgba(204, 206, 204, 0.5);
  bottom: 250px;
  bottom: 250px;
  left: -36px;
  max-width: 153px;
  max-width: 153px;
}

.information__yellow-circle-image {
  max-width: 271px;
  max-width: 271px;
  top: -128px;
  right: -124px;
  top: -128px;
  right: -124px;
}

.information__image-main {
  position: relative;
  z-index: 2;
  transform: translateY(-120%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0.1s;
}

.information__image-main.--active {
  transform: translateY(0%);
  opacity: 1;
}

.information__image-large {
  position: relative;
  z-index: 3;
  transform: translateX(120%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0.3s;
}

.information__image-large.--active {
  transform: translateX(0%);
  opacity: 1;
}

.information__image-medium {
  position: relative;
  z-index: 3;
  transform: translateY(200px);
  opacity: 0;
  transition: all 0.3s ease-in-out 0.5s;
}

.information__image-medium.--active {
  transform: translateY(0%);
  opacity: 1;
}

.information__image-small {
  position: relative;
  z-index: 3;
  transform: translateX(-120%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0.7s;
}

.information__image-small.--active {
  transform: translateX(0%);
  opacity: 1;
}

.information__info {
  padding-bottom: 20px;
  max-width: 480px;
}

.information__info-title {
  padding-top: 10px;
  margin-bottom: 20px;
}

.information__info-text {
  opacity: 0.7;
  padding-bottom: 15px;
}

/***************************************************/

/***************************************************/

/***************************************************/

.no-webp .source {
  background-image: url("../img/source/bg-fone.jpg"); }

.source {
  padding-bottom: 110px;
  margin-bottom: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.source__inner {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 94px;
  gap: 94px;
}

.source__info {
  max-width: 480px;
}

.source__info-text {
  opacity: 0.7;
}

.source__info-text + .source__info-text {
  margin-top: 20px;
}

.source__info-btn {
  margin: 30px 0 0;
  border-radius: 6px;
  line-height: 32px;
  color: #fff;
  background-color: #F44545;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 33px;
  padding-right: 33px;
  font-size: 20px;
}

.source__anim-image {
  transform-origin: center bottom;
  animation: source-img 11s ease-in-out infinite;
}

.source__anim-laptop {
  max-width: 655px;
  max-width: 655px;
}

@keyframes source-img {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-7deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/***************************************************/

/***************************************************/

/***************************************************/

.plan {
  margin-bottom: 120px;
}

.plan__info {
  text-align: center;
  margin: 0 auto;
  max-width: 755px;
  margin-bottom: 36px;
}

.plan__info-text {
  padding-bottom: 10px;
  opacity: 0.7;
}

.plan__switch {
  text-align: center;
  margin-bottom: 70px;
}

.plan__switch-inner {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan__choice {
  width: 100px;
  text-transform: capitalize;
  color: #4E5951;
  line-height: 16px;
  font-size: 20px;
}

.plan__choice-monthly,
.plan__choice-quarterly {
  transition: all 0.3s;
}

.plan__switch-label {
  display: inline-block;
  position: relative;
  width: 58px;
  height: 29px;
  cursor: pointer;
}

.plan__switch-input {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.plan__switch-input:checked + .plan__switch-slider::before {
  transform: translateX(-29px);
}

.plan__switch-slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 6px;
  background-color: rgb(67, 221, 170);
}

.plan__switch-slider:before {
  transition: all 0.3s;
  content: "";
  position: absolute;
  right: 6px;
  top: 6px;
  width: 17px;
  height: 17px;
  border-radius: 3px;
  background-color: #FFF;
}

.plan__choice-monthly {
  padding-right: 15px;
}

.plan__choice-quarterly {
  padding-left: 15px;
}

.plan__discount {
  display: flex;
  justify-content: center;
}

.plan__discount-inner {
  height: 30px;
  width: 190px;
  opacity: 0.7;
  line-height: 14px;
  position: relative;
}

.plan__discount-monthly {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.plan__discount-monthly::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 28px;
  top: -17px;
  left: -48px;
  transform: scale(-1, 1);
  background-image: url("../img/plan/arrow.svg");
}

.plan__discount-monthly.--active {
  opacity: 1;
  visibility: visible;
}

.plan__discount-quarterly {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s;
}

.plan__discount-quarterly::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 28px;
  top: -17px;
  right: -48px;
  background-image: url("../img/plan/arrow.svg");
}

.plan__discount-quarterly.--active {
  opacity: 1;
  visibility: visible;
}

.plan__range {
  text-align: center;
  position: relative;
}

.plan__range-thumb {
  content: "";
  position: absolute;
  z-index: 2;
  width: 21px;
  height: 21px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
  background: linear-gradient(154deg, #85FED6 4.45%, #4EDAAC 83.73%);
}

.plan__range-value {
  position: absolute;
  width: 82px;
  height: 35px;
  border-radius: 3px;
  font-size: 17px;
  line-height: 35px;
  top: -55px;
  transform: translateX(-50%);
  color: #FFF;
  background-color: #282323;
  z-index: 2;
}

.plan__range-value::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #282323;
}

.plan__range-input {
  height: 10px;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  border-radius: 37px;
  background-color: #F6F6F6;
}

.plan__range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 21px;
  height: 21px;
  cursor: pointer;
  z-index: 3;
  position: relative;
}

.plan__range-progress {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: 10px;
  box-shadow: 1px 5px 30px 0px rgba(83, 215, 171, 0.5);
  background: linear-gradient(154deg, #85FED6 4.45%, #4EDAAC 83.73%);
  border-radius: 37px;
}

.plan__cards {
  padding-top: 88px;
  position: relative;
}

.plan__cards-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 30px;
  justify-content: center;
}

.plan__card {
  position: relative;
  z-index: 3;
}

.plan__card-body {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.plan__card-body:hover {
  box-shadow: 0px 20px 100px 0px rgba(2, 18, 6, 0.15);
  background-color: #fff;
}

.plan__card-body:hover .plan__item-btn {
  color: #fff;
  background-color: #F55454;
}

.plan__card-basic,
.plan__card-premium,
.plan__card-ultimate {
  transform: translateY(150px);
  opacity: 0;
  visibility: hidden;
}

.plan__card-basic.--active,
.plan__card-premium.--active,
.plan__card-ultimate.--active {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.plan__card-basic {
  transition: all 0.3s ease 0.1s;
}

.plan__card-premium {
  transition: all 0.3s ease 0.3s;
}

.plan__card-ultimate {
  transition: all 0.3s ease 0.5s;
}

.plan__card-info {
  padding: 35px 30px 37px 30px;
}

.plan__card-title {
  margin-bottom: 35px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.5;
  font-size: 20px;
  line-hight: 34px;
}

.plan__card-price {
  margin-bottom: 37px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 43px;
  line-hight: 43px;
}

.plan__card-list {
  margin-bottom: 42px;
}

.plan__items {
  text-transform: capitalize;
}

.plan__items:nth-child(1) {
  border-bottom: 1px solid rgba(1, 18, 18, 0.1);
}

.plan__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 22px 29px 22px 29px;
  border-top: 1px solid rgba(1, 18, 18, 0.1);
}

.plan .yes .plan__availability-no {
  opacity: 0;
  visibility: hidden;
}

.plan .yes .plan__item-text,
.plan .yes .plan__availability-yes {
  font-size: 16px;
  line-height: 25px;
  opacity: 0.7;
}

.plan .no .plan__availability-yes {
  opacity: 0;
  visibility: hidden;
}

.plan .no .plan__item-text {
  text-decoration: line-through;
}

.plan .no .plan__item-text,
.plan .no .plan__availability-no {
  font-size: 16px;
  line-height: 25px;
  opacity: 0.5;
}

.plan__item-text {
  padding-left: 27px;
  position: relative;
}

.plan__item-text::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/plan/cheack.svg");
}

.plan__item-availability {
  right: 29px;
  position: absolute;
}

.plan__item-btn {
  margin: 0 auto 35px;
  color: #F44545;
  padding: 13px 75px;
  border-radius: 6px;
  border: 2px solid rgba(244, 69, 69, 0.2);
  background: transparent;
  opacity: 0.9;
  transition: all 0.3s;
  font-size: 20px;
  line-hight: 34px;
}

.plan__yellow-image {
  position: absolute;
  left: -141px;
  bottom: 29px;
  max-width: 307px;
  max-width: 307px;
}

.plan__mint-image {
  position: absolute;
  right: -127px;
  top: 173px;
  max-width: 279px;
  max-width: 279px;
}

/***************************************************/

/***************************************************/

/***************************************************/

.footer {
  background-color: rgba(142, 230, 201, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__item {
  display: flex;
  flex-direction: column;
}

.footer__item-text {
  width: 244px;
}

.footer__item-text,
.footer__item-link {
  font-size: 16px;
  line-height: 25px;
  opacity: 0.7;
}

.footer__item-title {
  margin-bottom: 20px;
  opacity: 0.7;
  font-size: 21px;
  line-height: 31px;
}

.footer__item-link + .footer__item-link {
  margin-top: 10px;
}

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

/***************************************/

@media (min-width: 1170px) {
  .main-page__yellow-circle {
    max-width: calc(240px + 56 * (100vw - 320px) / 1280);
  }

  .main-page__mint-circle {
    max-width: calc(185px + 56 * (100vw - 320px) / 1280);
  }

  .main-page__laptop-img {
    max-width: calc(300px + 573 * (100vw - 320px) / 1280);
  }

  .main-page__phone-img {
    max-width: calc(80px + 69 * (100vw - 320px) / 1280);
  }

  .discover__inner {
    gap: calc(20px + 140 * (100vw - 320px) / 1280);
  }

  .discover__large-image {
    max-width: calc(200px + 303 * (100vw - 320px) / 1280);
  }

  .discover__medium-image {
    max-width: calc(100px + 159 * (100vw - 320px) / 1280);
  }

  .discover__small-image {
    width: calc(100px + 35 * (100vw - 320px) / 1280);
  }

  .discover__mint-image {
    max-width: calc(200px + 51 * (100vw - 320px) / 1280);
  }

  .information__inner {
    gap: calc(70px + 28 * (100vw - 320px) / 1280);
  }

  .information__main-image {
    max-width: calc(350px + 140 * (100vw - 320px) / 1280);
  }

  .information__large-image {
    max-width: calc(150px + 51 * (100vw - 320px) / 1280);
  }

  .information__medium-image {
    max-width: calc(200px + 109 * (100vw - 320px) / 1280);
  }

  .information__small-image {
    bottom: calc(203px + 47 * (100vw - 320px) / 1280);
  }

  .information__small-image {
    max-width: calc(70px + 83 * (100vw - 320px) / 1280);
  }

  .information__yellow-circle-image {
    max-width: calc(150px + 121 * (100vw - 320px) / 1280);
  }

  .information__yellow-circle-image {
    top: calc(-107px + -21 * (100vw - 320px) / 1280);
  }

  .information__yellow-circle-image {
    right: calc(-80px + -44 * (100vw - 320px) / 1280);
  }

  .source__inner {
    gap: calc(70px + 24 * (100vw - 320px) / 1280);
  }

  .source__anim-laptop {
    max-width: calc(400px + 255 * (100vw - 320px) / 1280);
  }

  .plan__yellow-image {
    max-width: calc(200px + 107 * (100vw - 320px) / 1280);
  }

  .plan__mint-image {
    max-width: calc(200px + 79 * (100vw - 320px) / 1280);
  }
}

@media (max-width: 1474px) {
  .discover__inner {
    justify-content: space-evenly;
    gap: 40px;
  }

  .information__inner {
    justify-content: space-evenly;
  }

  .source__inner {
    justify-content: space-evenly;
  }
}

@media (max-width: 1400px) {
  .plan__yellow-image {
    left: 46px;
    bottom: -138px;
  }

  .plan__mint-image {
    right: 38px;
    top: -30px;
  }
}

@media (max-width: 1400px) and (max-width: 1170px) {
  .plan__yellow-image {
    bottom: calc(-90px + -48 * (100vw - 320px) / 850);
  }

  .plan__mint-image {
    top: calc(0px + -30 * (100vw - 320px) / 850);
  }
}

@media (max-width: 1231px) {
  .software__inner {
    gap: 15px;
  }
}

@media (max-width: 1171px) {
  .main-page__inner {
    flex-direction: column;
    align-items: center;
  }

  .main-page__anim {
    order: -1;
  }

  .main-page__info {
    text-align: center;
  }

  .main-page__text {
    margin: 0 auto 30px;
  }

  .main-page__form {
    margin: 0 auto 35px;
  }

  .main-page__shop {
    justify-content: space-around;
  }

  .software__inner {
    flex-direction: column;
    align-items: center;
  }

  .software__info {
    text-align: center;
    order: -1;
  }

  .software__info-links {
    justify-content: center;
  }

  .discover__inner {
    flex-direction: column;
  }

  .discover__info-title {
    text-align: center;
  }

  .discover__info-text {
    text-align: center;
  }

  .information__inner {
    flex-direction: column;
    align-items: center;
  }

  .information__info {
    order: -1;
  }

  .information__info-title {
    text-align: center;
  }

  .information__info-text {
    text-align: center;
  }

  .source__inner {
    flex-direction: column;
    align-items: center;
  }

  .source__info-title {
    text-align: center;
  }

  .source__info-text {
    text-align: center;
  }

  .source__info-btn {
    margin: 30px auto 0;
  }
}

@media (max-width: 1170px) {
  body {
    line-height: calc(20px + 9 * (100vw - 320px) / 850);
  }

  body {
    font-size: calc(15px + 3 * (100vw - 320px) / 850);
  }

  .title {
    font-size: calc(24px + 21 * (100vw - 320px) / 850);
  }

  .title {
    line-height: calc(30px + 37 * (100vw - 320px) / 850);
  }

  .header {
    padding-top: calc(30px + 20 * (100vw - 320px) / 850);
  }

  .header__popup-label {
    font-size: calc(15px + 3 * (100vw - 320px) / 850);
  }

  .main-page {
    padding-top: calc(45px + 78 * (100vw - 320px) / 850);
  }

  .main-page {
    margin-bottom: calc(35px + 75 * (100vw - 320px) / 850);
  }

  .main-page__info {
    padding-top: calc(10px + 37 * (100vw - 320px) / 850);
  }

  .main-page__title {
    font-size: calc(39px + 15 * (100vw - 320px) / 850);
  }

  .main-page__title {
    line-height: calc(53px + 28 * (100vw - 320px) / 850);
  }

  .main-page__text {
    max-width: calc(300px + 210 * (100vw - 320px) / 850);
  }

  .main-page__text {
    font-size: calc(15px + 6 * (100vw - 320px) / 850);
  }

  .main-page__text {
    line-height: calc(25px + 8 * (100vw - 320px) / 850);
  }

  .main-page__form {
    width: calc(300px + 172 * (100vw - 320px) / 850);
  }

  .main-page__shop {
    gap: calc(12px + 18 * (100vw - 320px) / 850);
  }

  .main-page__yellow {
    top: calc(-33px + -47 * (100vw - 320px) / 850);
  }

  .main-page__mint {
    bottom: calc(-5px + -23 * (100vw - 320px) / 850);
  }

  .main-page__yellow-circle {
    width: calc(80px + 216 * (100vw - 320px) / 850);
  }

  .main-page__mint-circle {
    width: calc(70px + 171 * (100vw - 320px) / 850);
  }

  .main-page__laptop-img {
    width: calc(300px + 573 * (100vw - 320px) / 850);
  }

  .main-page__phone-img {
    width: calc(50px + 99 * (100vw - 320px) / 850);
  }

  .main-page__phone {
    bottom: calc(21px + 29 * (100vw - 320px) / 850);
  }

  .main-page__phone {
    left: calc(29px + 46 * (100vw - 320px) / 850);
  }

  .ticker {
    padding-top: calc(35px + 20 * (100vw - 320px) / 850);
  }

  .ticker {
    padding-bottom: calc(35px + 20 * (100vw - 320px) / 850);
  }

  .software {
    padding-top: calc(30px + 80 * (100vw - 320px) / 850);
  }

  .software {
    margin-bottom: calc(30px + 80 * (100vw - 320px) / 850);
  }

  .software__inner {
    gap: calc(30px + 44 * (100vw - 320px) / 850);
  }

  .software__card-title {
    font-size: calc(17px + 4 * (100vw - 320px) / 850);
  }

  .software__card-text {
    font-size: calc(13px + 3 * (100vw - 320px) / 850);
  }

  .software__card-text {
    line-height: calc(19px + 6 * (100vw - 320px) / 850);
  }

  .software__info-link-btn {
    padding-top: calc(11px + 4 * (100vw - 320px) / 850);
  }

  .software__info-link-btn {
    padding-bottom: calc(11px + 4 * (100vw - 320px) / 850);
  }

  .software__info-link-btn {
    padding-left: calc(20px + 20 * (100vw - 320px) / 850);
  }

  .software__info-link-btn {
    padding-right: calc(20px + 20 * (100vw - 320px) / 850);
  }

  .discover {
    margin-bottom: calc(40px + 203 * (100vw - 320px) / 850);
  }

  .discover__anim {
    min-height: calc(305px + 160 * (100vw - 320px) / 850);
  }

  .discover__large-image {
    max-width: calc(300px + 203 * (100vw - 320px) / 850);
  }

  .discover__medium-image {
    bottom: calc(-52px + -57 * (100vw - 320px) / 850);
  }

  .discover__medium-image {
    right: calc(2px + -74 * (100vw - 320px) / 850);
  }

  .discover__medium-image {
    max-width: calc(150px + 109 * (100vw - 320px) / 850);
  }

  .discover__small-image {
    bottom: calc(-41px + -21 * (100vw - 320px) / 850);
  }

  .discover__small-image {
    left: calc(0px + -39 * (100vw - 320px) / 850);
  }

  .discover__small-image {
    width: calc(100px + 35 * (100vw - 320px) / 850);
  }

  .discover__mint-image {
    max-width: calc(100px + 151 * (100vw - 320px) / 850);
  }

  .discover__mint-image {
    top: calc(-2px + -74 * (100vw - 320px) / 850);
  }

  .discover__mint-image {
    left: calc(-25px + -87 * (100vw - 320px) / 850);
  }

  .information {
    margin-bottom: calc(50px + 120 * (100vw - 320px) / 850);
  }

  .information__inner {
    gap: calc(40px + 58 * (100vw - 320px) / 850);
  }

  .information__main-image {
    max-width: calc(300px + 203 * (100vw - 320px) / 850);
  }

  .information__large-image {
    max-width: calc(125px + 76 * (100vw - 320px) / 850);
  }

  .information__large-image {
    right: calc(-5px + -53 * (100vw - 320px) / 850);
  }

  .information__large-image {
    bottom: calc(-4px + -17 * (100vw - 320px) / 850);
  }

  .information__medium-image {
    max-width: calc(170px + 139 * (100vw - 320px) / 850);
  }

  .information__medium-image {
    left: calc(-4px + -39 * (100vw - 320px) / 850);
  }

  .information__medium-image {
    bottom: calc(-30px + -37 * (100vw - 320px) / 850);
  }

  .information__small-image {
    bottom: calc(148px + 102 * (100vw - 320px) / 850);
  }

  .information__small-image {
    left: calc(-2px + -34 * (100vw - 320px) / 850);
  }

  .information__small-image {
    max-width: calc(95px + 58 * (100vw - 320px) / 850);
  }

  .information__yellow-circle-image {
    max-width: calc(70px + 201 * (100vw - 320px) / 850);
  }

  .information__yellow-circle-image {
    top: calc(-33px + -95 * (100vw - 320px) / 850);
  }

  .information__yellow-circle-image {
    right: calc(-10px + -114 * (100vw - 320px) / 850);
  }

  .source {
    padding-bottom: calc(30px + 80 * (100vw - 320px) / 850);
  }

  .source {
    margin-bottom: calc(30px + 70 * (100vw - 320px) / 850);
  }

  .source__inner {
    gap: calc(40px + 54 * (100vw - 320px) / 850);
  }

  .source__info-btn {
    padding-top: calc(9px + 6 * (100vw - 320px) / 850);
  }

  .source__info-btn {
    padding-bottom: calc(9px + 6 * (100vw - 320px) / 850);
  }

  .source__info-btn {
    padding-left: calc(20px + 13 * (100vw - 320px) / 850);
  }

  .source__info-btn {
    padding-right: calc(20px + 13 * (100vw - 320px) / 850);
  }

  .source__info-btn {
    font-size: calc(15px + 5 * (100vw - 320px) / 850);
  }

  .source__anim-laptop {
    max-width: calc(300px + 355 * (100vw - 320px) / 850);
  }

  .plan {
    margin-bottom: calc(80px + 40 * (100vw - 320px) / 850);
  }

  .plan__choice {
    line-height: calc(14px + 2 * (100vw - 320px) / 850);
  }

  .plan__choice {
    font-size: calc(15px + 5 * (100vw - 320px) / 850);
  }

  .plan__cards {
    padding-top: calc(80px + 8 * (100vw - 320px) / 850);
  }

  .plan__card-title {
    font-size: calc(15px + 5 * (100vw - 320px) / 850);
  }

  .plan__card-title {
    line-hight: calc(30px + 4 * (100vw - 320px) / 850);
  }

  .plan__card-price {
    font-size: calc(20px + 23 * (100vw - 320px) / 850);
  }

  .plan__card-price {
    line-hight: calc(20px + 23 * (100vw - 320px) / 850);
  }

  .plan__item-btn {
    font-size: calc(15px + 5 * (100vw - 320px) / 850);
  }

  .plan__item-btn {
    line-hight: calc(30px + 4 * (100vw - 320px) / 850);
  }

  .plan__yellow-image {
    max-width: calc(200px + 107 * (100vw - 320px) / 850);
  }

  .plan__mint-image {
    max-width: calc(200px + 79 * (100vw - 320px) / 850);
  }

  .footer {
    padding-top: calc(20px + 30 * (100vw - 320px) / 850);
  }

  .footer {
    padding-bottom: calc(20px + 30 * (100vw - 320px) / 850);
  }

  .footer__item-title {
    font-size: calc(18px + 3 * (100vw - 320px) / 850);
  }

  .footer__item-title {
    line-height: calc(25px + 6 * (100vw - 320px) / 850);
  }
}

@media (max-width: 992px) {
  .ticker__inner {
    width: 175%;
  }
}

@media (max-width: 780px) {
  .footer__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footer__logo-img {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header__menu {
    order: 1;
  }

  .header__menu-items {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 267px;
    height: 300px;
    padding: 20px 40px 20px 50px;
    left: 25px;
    top: 125px;
    overflow: auto;
    transform: translateX(300%);
    transition: transform 0.3s;
    border: 3px solid #8EE6C9;
    border-radius: 4px;
    background-color: #fff;
    z-index: 50;
  }

  .header__menu-items.--active {
    transform: translateY(0);
  }

  .header__menu-item {
    opacity: 0.8;
  }

  .header__burger {
    display: block;
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 23px;
    position: relative;
    transition: 0.2s ease-in-out;
    z-index: 50;
  }

  .header__burger-top,
  .header__burger-bottom,
  .header__burger-center {
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    transition: 0.2s linear;
    background-color: rgba(2, 18, 6, 0.7);
  }

  .header__burger-center {
    top: 50%;
    transform: translateY(-50%);
  }

  .header__burger-top {
    top: 0;
  }

  .header__burger-bottom {
    bottom: 0;
  }

  .header__burger.--active .header__burger-top {
    top: 40%;
    transform: rotate(45deg);
  }

  .header__burger.--active .header__burger-center {
    opacity: 0;
  }

  .header__burger.--active .header__burger-bottom {
    bottom: 50%;
    transform: rotate(-45deg);
  }

  .header__overlay.--active {
    opacity: 1;
    visibility: visible;
  }

  .header__login-text,
  .header__signinup-text {
    display: none;
  }

  .header__login-img,
  .header__signinup-img {
    display: block;
  }

  .header__login-img {
    margin-right: 17px;
  }

  .main-page__btn {
    padding: 8px 33px;
  }

  .main-page__mail {
    padding: 16px 24px;
  }
}

@media (max-width: 669px) {
  .ticker__inner {
    width: 230%;
  }
}

@media (max-width: 551px) {
  .software__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .software__card {
    min-height: 265px;
  }

  .software__card-info {
    padding: 10px 24px 15px 25px;
  }
}

@media (max-width: 452px) {
  .ticker__inner {
    width: 370%;
  }

  .plan__cards-inner {
    grid-template-columns: repeat(auto-fill, 300px);
  }
}

webp .source { background-image: url(../img/source/bg-fone.webp); }